* {
    background-color: black;
	cursor: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

header img {
    width: 200px;
    height: 200px;
}